<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
        <title>BookFolio Bootstrap Template</title>
        <meta content="" name="description">
        <meta content="" name="keywords">
    
        <!-- Favicons -->
        <link href="/static/img/favicon.png" rel="icon">
        <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">
    
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Cardo:ital,wght@0,400;0,700;1,400&display=swap"
            rel="stylesheet">
    
        <!-- Vendor CSS Files -->
        <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
        <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
        <link href="/static/vendor/aos/aos.css" rel="stylesheet">
    
        <!-- Template Main CSS File -->
        <link href="/static/css/main.css" rel="stylesheet">
    
        <!-- =======================================================
      * Template Name: PhotoFolio - v1.2.0
      * Template URL: https://bootstrapmade.com/photofolio-bootstrap-photography-website-template/
      * Author: BootstrapMade.com
      * License: https://bootstrapmade.com/license/
      ======================================================== -->
    </head>
    
    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid d-flex align-items-center justify-content-between">

            <a href= "{%  url 'home' %}" class="logo d-flex align-items-center  me-auto me-lg-0">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <img src="static/css/img/logo.png" alt=""> 
                <i class="bi bi-camera"></i>
                <h1>BookFolio</h1>
            </a>

            {% comment %} navbar area starts {% endcomment %}
            <nav id="navbar" class="navbar">
                <ul >
                    <li ><a class =  "{% if request.path == '/'  %}active{% endif %}" href= "{%  url 'home' %}  ">Home</a></li>
                    <li ><a class= "{% if request.path == '/aboutus/'  %} active {% endif %}" href="{%  url 'aboutus' %}">About Us</a></li>
                    <li ><a href="{% url 'gallery' %}"><span>Gallery</span> </i></a> 
                    
                </li> 

                    <li ><a class= "{% if request.path == '/services/'  %} active {% endif %}" href="{%  url 'services' %}">Services</a></li>

                    {% url 'contact' as url %}
                    <li ><a class ="{% if  request.path == url %} active {% endif %}" href="{{url}}">Contact</a></li>
                </ul>
            </nav>
            <!-- .navbar  -->

            <div class="header-social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a> 
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a> 
                <a href="https://instagram.com/patel_maharshi_?igshid=YmMyMTA2M2Y=" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="https://www.linkedin.com/in/maharshi-patel-a1012a244" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
                <a href="{% url 'logout' %}">Logout</a>
                {% if request.path|slice:":9" == '/gallery1' %}
                <a href="" class="cart"><i class="bi bi-cart"></i></a>
            {% endif %}
            </div>
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        </div>
    </header>

    
    <!-- End Header -->

