{% extends "base.html" %}

{% block content %}
<main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Sign in</h2></br></br>
            <form method = "post">
              {% csrf_token %}
                <!-- Email input -->
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="email" id="form2Example1" class="form-control" name = "email1" />
                  <label class="form-label" for="form2Example1">Email address</label>
                </div>
              
                <!-- Password input -->
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="password" id="form2Example2" class="form-control" name = "pwd1" />
                  <label class="form-label" for="form2Example2">Password</label>
                </div>
              
                
                {% comment %} {% if not error %}

                <div class = "alert alert-danger">Enter valid credential</div>
    
                {% endif %} {% endcomment %}
              
                <!-- Submit button -->
                <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>
              
                <!-- Register buttons -->
                <div class="text-center">
                  <p>Not a member? <a href="{%  url 'signup' %}">Register</a></p>
                  
                </div>
              </form>
          </div>
        </div>
      </div>
    </div><!-- End Page Header -->


</main>

{% endblock  %}